.header {
  color: rgb(172, 172, 172);
  display: inline-block;
  font-family: arial;
  font-size: 12px;
  margin-bottom: 6px;
  justify-content: space-between;
  display: flex;
}

.header kbd {
  background-color: rgb(23, 23, 23);
  border-radius: 4px;
  color: #b9b9b9;
  font-size: 12px;
  margin-right: 6px;
  padding: 2px 4px;
}
