.atom-category {
  color: #fff;
  margin-right: 6px;
  border-radius: 2px;
  padding: 0 3px;
  float: left;
}
.atom-timeAgo,
.atom-shortcut {
  margin-right: 2px;
  display: inline-block;
  margin-left: 0.45454545em;
  padding: 0 0.375em;
  line-height: 2;
  margin-top: -0.375em;
  font-family: inherit;
  font-size: 1em;
  letter-spacing: 0.1em;
  border-radius: 3px;
  float: right;
}
.atom-shortcut {
  color: #fff;
  background-color: #4d78cc;
}
.atom-timeAgo {
  color: #757575;
  background-color: transparent;
  font-style: italic;
  font-size: 10px;
}
.atom-icon {
  float: left;
  height: 15px;
  margin-right: 3px;
}

.atom-category.Command {
  background: rgb(67, 130, 207);
}
.atom-category.History {
  background: rgb(165, 22, 134);
}
.atom-category.Tab {
  background: rgb(46, 41, 194);
}
.atom-category.Modifier {
  background: rgb(49, 177, 79);
}
.atom-category.Drawer {
  background: rgb(206, 64, 206);
}
.atom-suggestionsContainerOpen {
  overflow: scroll !important;
}
.atom-suggestion {
  font-weight: 300;
}
